# **Hello World in Python!**

In [0]:
print("Hello World how are you?")
# This a is a comment

# **Datatype**

In [0]:
a = 12
print(a)       
print(type(a))

In [0]:
b = 1.7
print(b)       
print(type(b))

In [0]:
c = "Python"
print(c)       
print(type(c))

In [0]:
d = True
print(d)
print(type(d))

In [0]:
a, b, c = 1, 2, 3
a, b, c = 1, 3.5, "hello"
print(type(a))
print(type(b)) 
print(type(c))

# **Math Operation**

In [0]:
a = 10
print(a + 1)  
print(a - 1)  
print(a * 2)  
print(a / 2)  
print(a ** 2)

In [0]:
x = True
y = False
print(x and y)  
print(x or y)   
print(not x)    
print(x & y)

# **Conditions**

In [0]:
import random
a = [50, 100, 200, 300]

b = random.choice(a)
print (b)

In [0]:
if (b < 100):
	print("Number - " + str(b) + " is less than 100")
	print ("Yes its less than 100")
elif (b >= 100 and b < 200):
    print("Number - " + str(b) + " is greater than or equal to 100 but less than 200")
else:
    print("Number -" + str(b) + " is greater than or equal to 200")

# **Loops**

In [0]:
c = 0
while (c < 10): 
    print(c,end='')
    c += 1

In [0]:
numbers = [1, 2, 4]
#for (i=0;i<len(numbers);i++)

for x in numbers:
    print(x)

In [0]:
x = 5
for c in range(x):  # for (i=0,i<5,i++)
    print(c)

In [0]:
for c in range (0,10,2):  #for (i=1,i<10,i+2)
	print (c)

In [0]:
for c in range (10,0,-2):
	print (c)

# **String**

In [0]:
a = "Python"
b = " is python awesome!"

print(len(a))                        
print(len(b))

In [0]:
print(a + b)                         
print(a, b)

In [0]:
print("this is a {} this is b {}".format(a, b))          
print("%s%s" % (a, b))

In [0]:
print(a.upper())                    
print(a.lower())

In [0]:
print(b.strip())                     
print(b.replace("awesome", "great"))

In [0]:
if a in b:
	print ("True")
else:
	print ("false")

# **List**

In [0]:
l = [1,2,3,4,5]

print(len(l))

In [0]:
print(l[0])        
print(l[1])

In [0]:
print(l[len(l)-1]) 
print(l[-1])

In [0]:
l.append(6)       
print(l)          
item = l.pop()    
print(item)       
l.append("string")
print(l)

In [0]:
l = [10,20,30,40,50]

print(l[1:2])     
print(l[1:3])     
print(l[0:])      
print(l[0:-1])    
print(l[:])

In [0]:
b = [5, 7, 2, 4, 9]
b.sort()
print(b)

In [0]:
b.sort(reverse=True)
print(b)

In [0]:
a = ["dhoni", "sachin", "warner", "abd"]
a.reverse()
print(a)

In [0]:
a = [66, 55, 44, 22, 11, 55, 22] 
print(a.count(22))

# **Tuple**

In [0]:
t = (500, 200)

print(type(t))
print(t[1])

In [0]:
print(len(t)) 
print(max(t))
print(min(t))

In [0]:
l = [400, 800, 1200]
l_to_t = tuple(l)
print(type(l_to_t))

# **Dictionary **

In [0]:
d = { "1" : "Ironman", 
      "2" : "Captain America", 
      "3" : "Thor"
    }

In [0]:
print(type(d))    
print(d["1"])

In [0]:
for key in d:
    print(key)  
    print(d[key])

In [0]:
d["2"] = "Hulk"
for key, value in d.items():
    print(key + " - " + value)

In [0]:
d["4"] = "Thanos"

print (d.items())
d.pop("4")

del d["2"]

# **Exception Handling**

In [0]:
try:
    print(x)
except:
    print("Something is wrong!")

In [0]:
try:
    print(x)
except: 
    print("Something is wrong!")
finally:
    print("Finally always execute after try-except.")

# **Function**

In [0]:
def squared(x):
    print (x*x)
    return x*x

In [0]:
res = squared(4)

# **Which is Fast**

In [0]:
import time

my_tuple = tuple(range(30000000))
tic = time.time()
print (tic)
my_tuple_squared = map(lambda i: i**2, my_tuple)
toc = time.time()
print(toc)
t = toc-tic
print('Elapsed time in seconds for tuple %.8f'%t)

In [0]:
my_list = list(range(30000000))
tic = time.time()
print (tic)
my_list_squared = map(lambda i: i**2, my_list)
toc = time.time()
print(toc)
t = toc-tic
print('Elapsed time in seconds for list %.8f'%t)